extends layout
block content
        .overlay#start
            h1 Stay Fresh
            p Never miss an expiration date
        .overlay#list
            a(href="/shopping_list")
            h2 Create your shopping list
        .overlay#description
            h2 About the website
            p Welcome! Use Stay Fresh to save time, money, and the environment! Keep track of your food purchases and their expiration dates. Explore a plethora of delicious recipes based on the ingredients you currently have. With Stay Fresh, cooking, grocery shopping, and keeping your home well stocked and clean just got a lot easier!
        a(href="/pantry").container.overlay#foods
            h2 Keep track of your pantry
        a(href="/recipes").container.overlay#recipes-link
            h2 Find recipes




