extends layout
block content
        .overlay#start
            h1 StayFresh
            p Never miss an expiration date
        .overlay#description
            h2 About the website
            p Welcome! Use StayFresh to save time, money, and the environment! Keep track of your food purchases and their expiration dates. Explore a plethora of delicious recipes based on the ingredients you currently have. With StayFresh, cooking, grocery shopping, and keeping your home well stocked and clean just got a lot easier!
        a(href="/pantry").container.overlay#foods
             h2 Keep track of your pantry
        a(href="/shopping_list").container.overlay#list
            h2 Create your shopping list
        a(href="/recipes").container.overlay#recipes-link
            h2 Find recipes




