extends layout
block content
        .container.overlay#start
            h1 Fresh Start
            // p.lead A boilerplate for Node.js web applications
            p Keep track of your pantry
        .container.overlay#list
            h2 Create your shopping list
        .container.overlay#description
            h2 About the website
            p This is a website to help you keep track of all your food and make sure you finish foods that are about to expire. With these foods, we also provide delicious recipes you can try out to finish up your groceries. You can also make your grocery shopping lists here.


