//
   Created by ryanvoong on 10/3/15.
//contains add foods
extends layout
block content

   .search-bar
     .col-md-offset-1
       - for(var i=0; i<6; i++)
          .col-md-3.items
           p Exp: 9/21/15
             a.fa.fa-trash
           img.img-responsive(src='http://www.glutenfreeawesome.com/wp-content/uploads/2012/06/carrots-300x187.jpg')
           h2 Carrot

