extends layout

block content
    .search-bar
    .col-md-offset-1
        each item in user.pantry
            .col-md-3.items
                p Expiration: #{item.expiration}
                    a.fa.fa-trash
                img.img-responsive(src='http://www.glutenfreeawesome.com/wp-content/uploads/2012/06/carrots-300x187.jpg')
                h2 #{item.name}

