@import "themes/default/variables";

@import "vendors/bootstrap/bootstrap";
@import "vendors/bootstrap-social";
@import "vendors/font-awesome/font-awesome";

@import "themes/default/styles";

// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

.mini_overlay {
  width: 100%;
  height: 20em;
  display: inline-block;
  background-size: 100%;
}

.mini-overlay h1 {
  font-size: 9em;
  transform-style: preserve-3d;
  -webkit-transition: opacity 3s ease-in;
  -moz-transition: opacity 3s ease-in;
  -o-transition: opacity 3s ease-in;
  transition: opacity 3s ease-in;
  animation: fadein 3s;
}

body {
  padding-top: 60px;
  margin-bottom: 75px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p, ul {
    margin-bottom: 0;
  }
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa {
  margin-right: 6px;
}
.info-bar{
  width: 30rem;
  margin-top: 4rem;
}

.indiv-drop{
  width: 23rem;
  text-align: center;
  i{
    position: relative;
    margin-left:10rem;

  }
}

.drop-wide{
  width: 40rem;
}
.indiv-bar{
  width: 23rem;
  margin-right: 2rem;
}



@import "components/home";
@import "components/pantry";
@import "components/shoppingList";
@import "components/recipes";
