.overlay {
  width: 100%;
  text-align: center;
  height: 60em;
  background: no-repeat center;
  display: inline-block;
}

#start {
  margin-top: 5em;
  background-image: url(/images/foodie.jpg);
  background-size: 100%;
}

#list {
  background: no-repeat center url(/images/cart.jpg);
  background-size: 100%;
}

#description {
  background-image: url(/images/apple.jpg);
  background-size: 100%;
}

#description p {
  font-size: 2em;
}

h1 {
  font-size: 9em;
  transform-style: preserve-3d;
  -webkit-transition: opacity 3s ease-in;
  -moz-transition: opacity 3s ease-in;
  -o-transition: opacity 3s ease-in;
  transition: opacity 3s ease-in;
  animation: fadein 3s;
}

h2 {
  font-size: 6em;
  color: #556B2F;
}

p {
  font-size: 1.5em;
  -webkit-transition: opacity 5s ease-in;
  -moz-transition: opacity 5s ease-in;
  -o-transition: opacity 5s ease-in;
  transition: opacity 5s ease-in;
  animation: fadein 5s;
}

#description p {
  text-align: right;
  margin-left: 20em;
}

#description h2 {
  text-align: right;
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
