.search-bar{
  padding: 1rem;
}

.items{
  margin: 2rem 3rem;
  padding: 1rem 2rem;

  h2{
    text-align: center;
  }
  p{
    float: left;
    font-weight: bold;
    padding: 0 1rem;
    font-size: 1.8rem;
  }
}
i{

  float:right;
  margin-right:0;
  margin-left: 1rem;
}
.btn-default{
  float: right;
  padding: 1rem 0;
}
$item-color: rgba(255, 9, 15, 0.73);


.exp{
  padding: 0 1rem;
  font-size: 2rem;
  float:left;
  color: $item-color;
}