.add-item{
  padding: 2rem;
}

.container#item{
  margin-top: 6rem;
  margin-left: 3rem;
}
.search-bar{
  padding: 1rem;
}
table {
  padding: 2em;
  align-content: center;
  width: 100%;
}

#Pantry {
  background: no-repeat center url(/images/pantry.jpg);
}

th,
td {
  padding: 1em .5em;
}

.items{
  margin: 2rem 3rem;
  padding: 1rem 2rem;
  height: 28rem;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
  box-shadow: black;

  h2{
    text-align: center;
    font-size: 3rem;
    margin: 0;
    margin-top: .5rem;

  }

  p{
    float: left;
    font-weight: bold;
    padding: 0 1rem;
    font-size: 1.8rem;
  }
  .img-responsive{

    width: auto;
  }
}

h3 {
  padding: 0;
  margin: 0;
}


a{
  padding-left: 1rem;
  position: relative;
  float:right;
  color: rgb(51, 51, 51);
}

a:hover{
  color: rgb(51, 51, 51);
  text-decoration: underline;

}
.btn-default{
  float: right;
  padding: 1rem 0;
}

.info-bar{
  margin-top: 4rem;
}

.indiv-bar{
  margin-right: 2rem;
}

.state{
  color: white;

  p{
    position: relative;
    text-align: center;
    width: 8rem;
    padding: 1rem;
    border-radius: 50%;
  }
}
#exp{
  p{
    background-color: rgba(146, 9, 14, 0.73);
  }

}
#almost-exp{
  p{
    background-color: #948823;
  }
}
#fresh{
  p{
    background-color: #19941b;
  }
}

.indiv-recipe{
  width: 70%;
  text-align: center;
  margin: 5rem;

  .recipe-text{
    padding-left: 8rem;
    width: 90%;
    float: right;
    text-align: left;
    font-weight: bold;
  }
  .recipe-img{
    width: 10%;
  }
}
.btn-group{
  width: 30%;
  float: right;
  .fa-trash.fa-1x{
    float:right;
  }
  .fa-car-plus.fa-1x{
    float:left;
  }
}

#thumb-pantry{
  margin: auto;
  height: 14rem;

}
.img-responsive{
  border: none;
  box-shadow: none;
}
.last-row{
  height: 3rem;
}

