#recipe{
  background: no-repeat center url(/images/recipes.jpg);
}

#search {
  width: 100%;
  height: auto;
  display: inline-block;
  text-align: center;
}

#bar {
  width: 40em;
}

#submit {
  float: left;
  margin-left: 3em;
}

#find {
  float: right;
  margin-right: 2em;
}