#recipe{
  text-align: center;
  position: relative;
  margin: 7rem 2rem;
  margin-top: 12rem;
  width:50rem;
}

#lay-for-recipe{

}
.search-overlays{
  width: 100%;
  height: auto;
  background: no-repeat center;
  display: inline-block;
}
.results{

}
