#shopping {
  background: no-repeat center url(/images/shopping.jpg);
}

#list h1 {
  text-align: left;
}
#thumb-list{
  margin: auto;
  height: 14em;

}
.last-row{
  height: 3rem;
}
.top-row{
  height: 22rem;
}